:root {
  --text-button-color: black;
  --button-background-color: lightgray;
  --background-color: white;
}

.contrast {
  --text-button-color: yellow;
  --button-background-color: black;
  --background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--background-color);
}
#ulHeader {
  border: 1px solid red;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}

#liHeader {
  border: 1px solid red;
  padding: 5px 5px;
  color: var(--text-button-color);
}

#buttonHeader {
  background: var(--button-background-color);
  background-color: var(--button-background-color);
  border: none;
  color: var(--text-button-color);
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
}
